@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  background-color: #f6f1ef;
  font-family: 'Source Sans Pro', sans-serif, Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(51, 51, 51);
  font-size: medium;
  text-align: center
}

.headers {
  color: #22223B;
  font-family: 'Source Sans Pro', sans-serif, Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size:xx-large;
  font-weight:bolder
}
p {
  color: #9A8C98;
  font-family: 'Source Sans Pro', sans-serif, Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color:rgb(63, 66, 127);
  font-family: 'Source Sans Pro', sans-serif, Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

.container {
  width: 500px;
  margin: 0 auto;
}
.bottom-card {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #22223B;
  margin-bottom: 50px;
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px ;
  padding-left: 0px;
  font-size:xx-large
}

.img-circle {
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2);
  width: 300px;
  height:300px;
  object-fit:cover;
  border-radius: 50%;
}

div {
  border-radius: 15px;
  margin: 10px
}
.card {
  background-color: white;
  padding: 25px;
  border: 1px solid #22223B;
  margin-bottom: 30px;
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2);
}


.button-74 {
  margin: 15px 0px 15px;
  background-color: #F2E9E4;
  border: 2px solid #4A4E69;
  border-radius: 30px;
  box-shadow: #4A4E69 4px 4px 0 0;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  padding: 0px 25px 0px 25px;
}

.button-74:hover {
  background-color: #22223B;
  color: white
}
